*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    max-width: 800px;
    margin: auto;
    overflow: hidden;
    padding: 0 2rem;
}

.card{
    padding: 1rem;
    border: #22a138 1px dotted;
    margin: 0.7rem 0;
}